body {
    background-color: #FFF;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    width: 100%;
    position: fixed;
    z-index: 10;
}

ul {
    text-align: center;
    margin: 30px auto;
    padding: 0 20px;
}

li {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
    text-transform: uppercase;
    width: 80px;
    display: inline-block;
}

li:hover {
    color: #DBE9EE;
}

/* TEXT */

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #466995;
    text-transform: uppercase;
}

h2 {
    font-family: "Varela Round", sans-serif;
    font-size: 26px;
    font-weight: 100;
    color: #333;
    margin: 0 auto 20px auto;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #466995;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
}

h4 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #466995;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    color: #333;
}

/* WELCOME */

.welcome {
    background-color: #DBE9EE;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 50px;
    padding: 40px;
}